{% extends 'base.html' %}
{% load static %}

{% block title %}ATOS Burguer{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
    <img src="{% static 'img/logo_atos2.png' %}" alt="Logo Atos 2" style="max-height: 200px;" class="mb-4">

    <!-- Botão Adicionar Comanda -->


    <!-- Botão Retirar Comanda -->
<a href="{% url 'comandas:buscar_comanda' %}" class="btn btn-danger mt-4">
    Retire seu voucher
</a>

</div>
{% endblock %}
